        body {
            margin: 0;
        }

        .margin-prop {
            margin: 0;
            padding: 0;
        }

        .container {
            width: 1000px;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            overflow: hidden;
        }

        .header-section {
            height: 73px;
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            justify-content: space-around;
        }

        .header-list-items {
            display: flex;
            align-items: center;
            height: 60px;
            justify-content: space-around;
        }

        .image {
            height: 100px;
            width: 150px;
        }

        .head-logo {
            height: 70px;
            width: 120px;
        }

        .side-logo {
            height: 40px;
            width: 80px;
            padding-left: 30px;
            font-size: 20px;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .world-logo {
            height: 25px;
            width: 30px;
        }

        li {
            list-style-type: none;
            display: flex;
        }

        li a {
            text-decoration: none;
            color: #000;
            font-family: sans-serif;
            font-size: 13px;
        }

        .arrows {
            width: 8px;
            height: 8px;
        }

        .list-items {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .images {
            display: flex;
            animation: moveSlideshow 15s linear infinite;
        }

        p {
            font-size: 16px;
        }

        .elements {
            margin-right: 90px;
        }

        .trial-button {
            border-radius: 2px;
            padding: 9px 25px;
            color: #fff;
            font-family: sans-serif;
            background-color: #000;
            font-weight: 600;
        }

        .product-section {
            background-color: #fff;
            box-shadow: 1px 3px 14px black;
            height: 400px;
            width: 570px;
            margin: 0 auto;
            flex-direction: column;
            display: none;
            border-radius: 5px;
        }

        .products-item:hover .product-section {
            display: block;
        }

        .solution-section {
            padding: 10px;
            background-color: #fff;
            height: 85px;
            margin: 0 auto;
            box-shadow: 1px 3px 14px black;
            position: absolute;
            top: 60px;
            left: 792px;
            display: none;
            border-radius: 5px;
            font-family: arial;
            font-size: 14px;
        }



        .solution-item:hover .solution-section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .hover-element::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }



        .left-section {
            width: 250px;
            height: 290px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .line {
            border-right: 1px solid #ddd;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .right-section {
            width: 250px;
            height: 290px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .common-flex-prop {
            display: flex;
            column-gap: 10px;
        }

        .fresh-icons {
            height: 30px;
            width: 30px;
        }

        .content-section-1 {
            height: 60px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .right-arrow {
            height: 15px;
            width: 20px;
        }

        .content-section {
            height: 80px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .content-section-prop {
            height: 80px;
            width: 190px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .top-container {
            display: flex;
            column-gap: 8px;
        }

        .product-section-Ele {
            position: absolute;
            top: 57px;
            left: 548px;
        }


        .bottom-container {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-button {
            width: 530px;
            padding: 6px 20px;
            color: darkblue;
            font-size: 16px;
            border: none;
            background-color: #f1f3f4;
            border-radius: 4px;
        }

        .pro li a:hover~img {
            transform: rotate(180deg);
            transition: 0.2s ease;
            cursor: pointer;
        }

        .middle-container {
            width: 100%;
            margin: 20px auto;
            display: flex;
            justify-content: space-evenly;
            column-gap: 10px;
        }

        .middle-content-section {
            width: 500px;
            height: 400px;
            display: flex;
            flex-direction: column;
        }

        h4 {
            font-family: sans-serif;
        }

        .middle-head {
            font-size: 43px;
            font-weight: 700;
            font-family: sans-serif;
        }

        .middle-content {
            font-size: 20px;
            font-family: sans-serif;

        }

        .image-section {
            height: 400px;
            width: 600px;
            display: flex;
            justify-content: center;
        }

        .stratBtn {
            height: 50px;
            width: 200px;
            background-color: #5d35d7;
            border: none;
            color: #fff;
            font-weight: 700;
            border-radius: 4px;
        }

        .small-arrow {
            position: absolute;
            top: 370px;
            left: 380px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 20px solid #00008B;
            transform: rotate(90deg);
        }

        .small-line {
            position: absolute;
            top: 378px;
            left: 360px;
            width: 20px;
            border-bottom: 4px solid #00008B;
        }

        .flexible-container {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            height: 200px;
            font-size: 15px;
            font-family: arial;
        }

        .fresher {
            display: flex;
            width: 250px;
            gap: 15px;
        }

        .know-section {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        .margin-property {
            padding-left: 36px;
            margin: 0;
        }

        .margin-ele {
            margin: 0;
        }

        .font-property {
            font-size: 13px;
        }

        .padding-items {
            padding-top: 10px;
            font-size: 13px;
        }

        .regular-property {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 120px;
            height: 35px;
        }

        .Platform-container {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 650px;
            height: 290px;
            box-shadow: 1px 3px 14px black;
            position: absolute;
            top: 60px;
            left: 650px;
            border-radius: 5px;
            background-color: #fff;
        }

        .platform-item:hover .platform {
            display: block;
        }

        .platform {
            display: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .flexible {
            width: 24px;
            height: 24px;
        }

        .image-items {
            height: 28px;
            width: 28px;
        }

        .feature-items {
            display: flex;
            font-family: sans-serif;
            align-items: center;
            gap: 10px;
        }

        .list-sections {
            padding-left: 36px;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            font-family: arial;
            font-size: 12px;
            row-gap: 18px;
        }

        .list-content {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .logo-container>ul {
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            font-family: arial;
        }

        .logo-container {
            width: 172px;
            font-size: 13px;
            font-family: sans-serif;
        }

        .company-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .company-container>ul {
            padding: 15px;
            width: 142px;
        }

        .company-container {
            background-color: #fff;
            box-shadow: 1px 3px 14px black;
            font-size: 18px;
            font-family: arial;
            position: absolute;
            top: 60px;
            left: 65%;
            display: none;
            border-radius: 5px;
        }

        .company-items:hover .company-container {
            display: block;
        }

        .list-image {
            height: 22px;
            width: 22px;

        }

        .view-Section {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            font-family: sans-serif;
        }

        .customer-div {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 205px;
            font-size: 12px;
        }

        .freshsedk-products {
            position: absolute;
            top: 128px;
            left: 540px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 1px 3px 14px black;
            border-radius: 4px;
            display: none;
        }


        .channel-font {
            font-size: 13px;
            font-family: sans-serif;
        }

        .product-ul {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 0;
        }

        .fresh-items:hover .freshsedk-products {
            display: flex;
        }


        .feature-items-sec {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 20px;
            padding: 20px;
            position: absolute;
            top: 130px;
            left: 710px;
            background-color: #fff;
            box-shadow: 1px 3px 14px black;
            border-radius: 5px;
        }

        .multiple-list {
            display: none;
        }

        .features:hover .multiple-list {
            display: block;
        }

        .all-btn {
            width: 130px;
            padding: 4px 0px;
        }

        .size {
            position: relative;
            color: #b1a4a4;
        }

        .size::after {
            content: '';
            height: 1px;
            width: 50px;
            background: #a8a2a2;
            position: absolute;
            top: 8px;
            left: 110px;
        }

        .solution {
            position: absolute;
            top: 133px;
            left: 840px;
            width: 200px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 1px 3px 14px black;
            display: none;

        }

        .solution-property {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 20px;
        }

        .widthEle::after {
            width: 90px;
            left: 70px;
        }

        .widthElement::after {
            width: 60px;
            left: 100px;
        }

        .industry-btn {
            margin-left: 20px;
        }

        .stn-items:hover .solution {
            display: flex;
        }

        .new-btn {
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            width: 30px;
            font-size: 10px;
            height: 18  px;
            padding: 2px;
            margin-left: 10px;
        }

        .resource-items {
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            position: absolute;
            top: 130px;
            left: 920px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 1px 3px 14px black;
            padding: 15px;
        }

        .rosource-lists {
            display: none;
        }

        .resource-item-list:hover .rosource-lists {
            display: block;
        }

        .rosource-lists>ul>li>a {
            font-size: 14px;
            font-family: arial;
        }

        @keyframes moveSlideshow {
            from {
                transform: translateX(60%);
            }

            to {
                transform: translateX(-100%);
            }

        }
